# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# Project specific
backend/app/uploads/
backend/media/
*.log
.DS_Store
.vscode/
.idea/
